@import "tailwindcss";

@theme {
  /* --breakpoint-*: initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px; */

  --color-primary-dark-gray: #262C38;
  --color-primary-light-gray: #B4B4B6 ;
  --color-primary-white: #FFFFFF ;
  --color-secondary-dark-orange: #F76B31 ;
  --color-secondary-medium-orange: #FC6F31 ;
  --color-secondary-light-orange: #FEE2CF ;
  --color-title: #2A2932 ;
  --color-description: #727072 ;
}
